*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: 320px 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header"
    "side main"
    "footer footer";
}

title { 
	color: red; 
  font: 12px tahoma;
}

.wrapper {
  max-width: 1600px;
  margin: auto;
}

.title {
  margin-top: 30px;
  margin-bottom: 60px;
  text-align: center;
  color: brown;
}

.header {
  grid-area: header;

  /*background-color:blanchedalmond;*/
}

.main {
  grid-area: main;

  background-color:rgb(229, 220, 255);
}

.section {
  grid-area: side;

  background-color:cornsilk;
}

.section div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.frame {
  display: flex;
    /* margin: auto; */
    /* justify-content: center; */
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.footer {
  grid-area: footer;

  /*background-color:blanchedalmond;*/
}

/**/

.body {
  height: 100vh;
    /*margin: 0;
    height: 100vh;*/
}

.header,
.footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 2%;
    background-color: rgb(228, 224, 224);
}

.logo__img {
    margin-top: 3px;
    width: 10vh;
}

.header__p {
    font-size: 20px;
    font-weight: 500;
}

.shoping-cart {
    position: relative;
    cursor: pointer;
}

.shoping-cart__img {
    width: 8vh;
}

.shoping-cart__number {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: grey;
    left: 70%;
    top: 67%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.github__img {
    margin-top: 5px;
}

.github__img,
.link-rsschool__img {
    width: 15vh;
}